body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.page-header {
    background-color: #fbf07c;
    box-shadow: 0 0 25px #000;

}
.page-header__inner {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 100%;    
}

.page-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-bottom {
    display: flex;
    justify-content: center;
}

.logo {    
    
}

.page-header__logo {
    padding: 10px;
}

.logo__title {
    display: block;
    font-size: 1.4em;
}

.description {}

.description__title {
    display: block;
    font-size: 3em;
}

.description__subtitle {
    display: block;
    font-size: 2em;
}

.page-header__main-menu {
    padding: 20px;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;    
}

.main-menu__item {   
    color: #000000; 
    font-size: 1.7em;
    font-weight: 700;
    padding: 10px;   
    text-decoration: none;
}

.main-menu__item:hover {
    color: #c43f2b;
    text-decoration: underline;
}

.main-menu__item--red {
    color: #d63d26;
}

.main-menu__item--current {
    text-decoration: none;
}

.main-menu__item--current:hover {
    color: #000000;
    text-decoration: none;
}




.page-content {

}
.page-content__inner {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 100%;
}


.page-footer {
    background-color: #000000;
    color: #ffffff;
}

.page-footer__inner {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 100%;    
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;   
}

.content-cards-item {
    margin-bottom: 1.2em;
}

.page-content__content-cards {
    width: 1100px;
    max-width: 100%;
}

.page-content__cards-item {
    width: 300px;
    max-width: 100%;
}
